
.container
	header.header
		a.logo
			img(src="img/icon/logo.svg", alt="Logo")
		label.address
			input.input.input-address(type="text", placeholder="Адрес доставки")
		.buttons
			span.user-name
			button.button.button-primary.button-auth
				span.button-auth-svg
				span.button-text Войти
			button.button.button-cart#cart-button
				span.button-cart-svg
				span.button-text Корзина
			button.button.button-primary.button-out
				span.button-text Выйти
				span.button-out-svg


