main.main
	.container
		section.menu
			.section-heading
				h2.section-title.restaurant-title Пицца Плюс
				.card-info
					.rating 4.5
					.price От 900 ₽
					.category Пицца
			
			.cards.cards-menu
				.card
					img.card-image(src='img/pizza-plus/pizza-vesuvius.jpg' alt='image')
					.card-text
						.card-heading
							h3.card-title.card-title-reg Пицца Везувий
						
						.card-info
							.ingredients
								| Соус томатный, сыр «Моцарелла», ветчина, пепперони, перец
								| «Халапенье», соус «Тобаско», томаты.
						
						.card-buttons
							button.button.button-primary.button-add-cart
								span.button-card-text В корзину
								span.button-cart-svg
							strong.card-price-bold 545 ₽
					
				.card
					img.card-image(src='img/pizza-plus/pizza-girls.jpg' alt='image')
					.card-text
						.card-heading
							h3.card-title.card-title-reg Пицца Девичник
						
						.card-info
							.ingredients
								| Соус томатный, постное тесто, нежирный сыр, кукуруза, лук,
								| маслины,
								| грибы, помидоры, болгарский перец.
						
						.card-buttons
							button.button.button-primary.button-add-cart
								span.button-card-text В корзину
								span.button-cart-svg
							strong.card-price-bold 450 ₽
					
				.card
					img.card-image(src='img/pizza-plus/pizza-oleole.jpg' alt='image')
					.card-text
						.card-heading
							h3.card-title.card-title-reg Пицца Оле-Оле
						
						.card-info
							.ingredients Соус томатный, сыр «Моцарелла», черри, маслины, зелень, майонез
						
						.card-buttons
							button.button.button-primary.button-add-cart
								span.button-card-text В корзину
								span.button-cart-svg
							strong.card-price-bold 440 ₽
						
				.card
					img.card-image(src='img/pizza-plus/pizza-plus.jpg' alt='image')
					.card-text
						.card-heading
							h3.card-title.card-title-reg Пицца Плюс
						
						.card-info
							.ingredients
								| Соус томатный, сыр «Моцарелла», сыр «Чеддер», томаты,
								| пепперони,
								| телятина, грибы, бекон, болгарский перец.
						
						.card-buttons
							button.button.button-primary.button-add-cart
								span.button-card-text В корзину
								span.button-cart-svg
							strong.card-price-bold 805 ₽
							
				.card
					img.card-image(src='img/pizza-plus/pizza-hawaiian.jpg' alt='image')
					.card-text
						.card-heading
							h3.card-title.card-title-reg Пицца Гавайская
						
						.card-info
							.ingredients Соус томатный, сыр «Моцарелла», ветчина, ананасы
						
						.card-buttons
							button.button.button-primary.button-add-cart
								span.button-card-text В корзину
								span.button-cart-svg
							strong.card-price-bold 440 ₽
				
				.card
					img.card-image(src='img/pizza-plus/pizza-classic.jpg' alt='image')
					.card-text
						.card-heading
							h3.card-title.card-title-reg Пицца Классика
						
						.card-info
							.ingredients
								| Соус томатный, сыр «Моцарелла», сыр «Пармезан», ветчина,
								| салями,
								| грибы.
						
						.card-buttons
							button.button.button-primary.button-add-cart
								span.button-card-text В корзину
								span.button-cart-svg
							strong.card-price-bold 510 ₽