mixin card(title, time, rating, price, cat)
	a.card.card-restaurant(href="restaurant.html")
		img.card-image(src="img/pizza-plus/preview.jpg", alt="image")
		.card-text
			.card-heading
				h3.card-title #{title}
				span.card-tag.tag #{time} мин
		.card-info
			.rating #{rating}
			.price От {price} ₽
			.category #{cat}